*{
    box-sizing: border-box;
}

body{
    background: url("https://images.unsplash.com/photo-1508946808231-a34e34e34059?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 350px;
    width:500px;
    height: 200px;
    border-radius: 30px;
    margin-left: 200px;
}

h1{
    letter-spacing: 5px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}

.open-modal{
    padding: 10px 40px;
    background-color: #166d75;
    border-radius: 10px;
    border: none;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-overlay{
    position: fixed;
   left: 190px;
    bottom: 405px;
    background-color: white;
    width: 520px;
    height: 220px;
    border-radius: 20px;
    display: grid;
  place-items: center;
 visibility: hidden;
 z-index: -10;
}





.modal-container{
    text-align: center;
  display: grid;
  place-items: center;
  position: relative;
    
    

}

.close-btn{
    position: absolute;
  top:-75px;
  right:-150px;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(255, 6, 6);
  padding-right: 20px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
  
}

h3{
    letter-spacing: 5px;
    font-size: 24px;
}

.close-btn:hover{
    transform: scale(1.5);
    transition: 0.5s ease;
}